#optionsBox {
    background-color: #2f2f2f;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1rem;
}

#optionsBox h3 {
    margin-bottom: 1rem;
    color: #ff4655;
}

#optionsBox ul {
    list-style: none; /* Remove as bolinhas da lista */
    padding: 0;
}

#optionsBox li.option-item {
    padding: 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-align: left;
}

#optionsBox li.option-item:hover {
    background-color: #ff4655;
}